<link rel="stylesheet" href="~/css/styles.css" />

    <div class="card">
        <div class="card-body con">
        <h1 class="text-white"> Welcome to <span id="sp">Fine-Art</span> the place where you c</h1>
            <button type="button" class="btn btn-outline-primary link1"><a asp-controller="Home" asp-action="MainPage" class="card-link ">Explore More</a></button>
        </div>
    </div>

